<?xml version="1.0" ?>
<model>
    <name>Robot_1</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Payman Ferdosali</name>
        <email>p.ferdosali@hotmail.com</email>
    </author>
    <description>This is a sample model for Udacity Assignment. </description>
</model>
